{% extends 'baseClient.html.twig' %}

{% block body %}

     <div class="page-wrapper">
   <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">Send Money</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card p-4">
                  <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs">
                    <li class="nav-item">
                      <a
                        href="#other-account"
                        class="nav-link active"
                        data-bs-toggle="tab"
                        >Carte</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        href="#saved-account"
                        class="nav-link"
                        data-bs-toggle="tab"
                        >chéque</a
                      >
                    </li>
                  </ul>

                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="other-account">
                                              <form
                          action="https://product.geniusocean.com/genius-bank/user/send-money"
                          method="POST"
                          enctype="multipart/form-data"
                        >
                                
										<input
											type="hidden"
											name="_token"
											value="WksVJnpyHqYpoyptbulu889pFriM8GBfHFZ5Da7z"
										/>
										<div class="form-group">
											<label class="form-label required">Carte</label>
											<select
												name="method"
												id="withmethod"
												class="form-select"
												required
											>
												<option value="">Select Payment Method</option>
												<option value="paypal">Paypal</option>
												<option value="stripe">Stripe</option>
												<option value="instamojo">Instamojo</option>
												<option value="paytm">Paytm</option>
												<option value="mollie">Mollie Payment</option>
												<option value="razorpay">Razorpay</option>
												<option value="authorize.net">Authorize.Net</option>
												<option value="flutterwave">Flutter Wave</option>
											</select>
										</div>

										<div id="card-view" class="col-lg-12 pt-3 d-none">
											<div class="row">
												<input type="hidden" name="cmd" value="_xclick" />
												<input type="hidden" name="no_note" value="1" />
												<input type="hidden" name="lc" value="UK" />
												<input
													type="hidden"
													name="bn"
													value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest"
												/>

												<div class="col-lg-6 mb-3">
													<input
														type="text"
														class="form-control card-elements"
														name="cardNumber"
														placeholder="Card Number"
														autocomplete="off"
														required
														autofocus
														oninput="validateCard(this.value);"
													/>
													<span id="errCard"></span>
												</div>

												<div class="col-lg-6 cardRow mb-3">
													<input
														type="text"
														class="form-control card-elements"
														placeholder="Card CVC"
														name="cardCVC"
														oninput="validateCVC(this.value);"
													/>
													<span id="errCVC"></span>
												</div>

												<div class="col-lg-6">
													<input
														type="text"
														class="form-control card-elements"
														placeholder="Month"
														name="month"
													/>
												</div>

												<div class="col-lg-6">
													<input
														type="text"
														class="form-control card-elements"
														placeholder="Year"
														name="year"
													/>
												</div>
											</div>
										</div>

										<input type="hidden" name="currency_sign" value="$" />
										<input
											type="hidden"
											id="currencyCode"
											name="currency_code"
											value="USD"
										/>
										<input type="hidden" name="currency_id" value="1" />

										<div class="form-group mb-3 mt-3">
											<label class="form-label required">Deposit Amount</label>
											<input
												name="amount"
												id="amount"
												class="form-control"
												autocomplete="off"
												placeholder="0.0"
												type="number"
												value=""
												min="1"
												required
											/>
										</div>

                    <div class="form-group mb-3">
											<label class="form-label">Folder</label>
											<input
                        class="form-control"
                        type="file"
                        class="form-control"
                      />
										</div>

										<div class="form-group mb-3">
											<label class="form-label">Description</label>
											<textarea
												name="details"
												class="form-control summernote"
												cols="30"
												rows="5"
												placeholder="Receive account details"
											></textarea>
 

										</div>

										<div class="form-footer">
											<button type="submit" class="btn btn-primary w-100">
												Submit
											</button>
										</div>
								
                         </form>
                      </div>
                      <div class="tab-pane" id="saved-account">
                        <div class="row g-3">
                          
                                      <form
                          action="https://product.geniusocean.com/genius-bank/user/send-money"
                          method="POST"
                          enctype="multipart/form-data"
                        >
                                
										<input
											type="hidden"
											name="_token"
											value="WksVJnpyHqYpoyptbulu889pFriM8GBfHFZ5Da7z"
										/>
										<div class="form-group">
											<label class="form-label required">Chéque </label>
											<select
												name="method"
												id="withmethod"
												class="form-select"
												required
											>
												<option value="">Select Payment Method</option>
												<option value="paypal">Paypal</option>
												<option value="stripe">Stripe</option>
												<option value="instamojo">Instamojo</option>
												<option value="paytm">Paytm</option>
												<option value="mollie">Mollie Payment</option>
												<option value="razorpay">Razorpay</option>
												<option value="authorize.net">Authorize.Net</option>
												<option value="flutterwave">Flutter Wave</option>
											</select>
										</div>

										<div id="card-view" class="col-lg-12 pt-3 d-none">
											<div class="row">
												<input type="hidden" name="cmd" value="_xclick" />
												<input type="hidden" name="no_note" value="1" />
												<input type="hidden" name="lc" value="UK" />
												<input
													type="hidden"
													name="bn"
													value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest"
												/>

												<div class="col-lg-6 mb-3">
													<input
														type="text"
														class="form-control card-elements"
														name="cardNumber"
														placeholder="Card Number"
														autocomplete="off"
														required
														autofocus
														oninput="validateCard(this.value);"
													/>
													<span id="errCard"></span>
												</div>

												<div class="col-lg-6 cardRow mb-3">
													<input
														type="text"
														class="form-control card-elements"
														placeholder="Card CVC"
														name="cardCVC"
														oninput="validateCVC(this.value);"
													/>
													<span id="errCVC"></span>
												</div>

												<div class="col-lg-6">
													<input
														type="text"
														class="form-control card-elements"
														placeholder="Month"
														name="month"
													/>
												</div>

												<div class="col-lg-6">
													<input
														type="text"
														class="form-control card-elements"
														placeholder="Year"
														name="year"
													/>
												</div>
											</div>
										</div>

										<input type="hidden" name="currency_sign" value="$" />
										<input
											type="hidden"
											id="currencyCode"
											name="currency_code"
											value="USD"
										/>
										<input type="hidden" name="currency_id" value="1" />

										<div class="form-group mb-3 mt-3">
											<label class="form-label required">Deposit Amount</label>
											<input
												name="amount"
												id="amount"
												class="form-control"
												autocomplete="off"
												placeholder="0.0"
												type="number"
												value=""
												min="1"
												required
											/>
										</div>

                    <div class="form-group mb-3">
											<label class="form-label">Folder</label>
											<input
                        class="form-control"
                        type="file"
                        class="form-control"
                      />
										</div>

										<div class="form-group mb-3">
											<label class="form-label">Description</label>
											<textarea
												name="details"
												class="form-control summernote"
												cols="30"
												rows="5"
												placeholder="Receive account details"
											></textarea>
 

										</div>

										<div class="form-footer">
											<button type="submit" class="btn btn-primary w-100">
												Submit
											</button>
										</div>
								
                         </form>




                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
         
    </div>   


{% endblock %}
