{% extends 'baseClient.html.twig' %}

{% block body %}
    
     <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">deposits Details</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="table-responsive-sm">
                      <table class="table mb-0">
                        <tbody>
                          <tr>
                            <th class="45%" width="45%">Bank Name</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">
                              MazeBank
                            </td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">Nom</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">salma</td>
                          </tr>


                          <tr>
                            <th class="45%" width="45%">Prénom</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">kacem</td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">Numéro de téléphone</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">987456123</td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">Date de validation</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">15/1/2022</td>
                          </tr>

                          <tr>
                            <th width="45%">Date d'expiration</th>
                            <td width="10%">:</td>
                            <td width="45%">12/12/2023</td>
                          </tr>

                          <tr>
                            <th width="45%">Type carte</th>
                            <td width="10%">:</td>
                            <td width="45%">Visa premier</td>
                          </tr>

                          <tr>
                            <th width="45%">Status</th>
                            <td width="10%">:</td>
                            <td width="45%">
                              <span class="badge bg-warning">pending</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
{% endblock %}
