{% extends 'baseClient.html.twig' %}

{% block body %}
           
<div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">Accounts</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            <div class="row mb--25-none">
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="plan__item position-relative">
                  {# <div class="ribbon ribbon-top ribbon-bookmark bg-green"></div> #}
                  <div class="plan__item-header">
                    <div class="left">
                      <h4 class="title">Checking accounts </h4>
                    </div>                    
                       <input type="button"  class="btn btn-primary"  value="Add " />                 
                  </div>
                  <div class="plan__item-body">
                 <div class="name"><br/>A checking account It's a bank accountused for everyday deposits and withdrawals <br/></div>                  
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="plan__item position-relative">
                  {# <div class="ribbon ribbon-top ribbon-bookmark bg-green"></div> #}
                  <div class="plan__item-header">
                    <div class="left">
                      <h4 class="title">Savings account</h4>
                    </div>
                    
                       <input type="button"  class="btn btn-primary"  value="Add " />
                 
                  </div>
                  <div class="plan__item-body">
                    <div class="name">
                      <br/>A checking account It's a bank accountused for everyday deposits and withdrawals <br/>
                    </div>
                  </div>
                  
                </div>
              </div><div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="plan__item position-relative">
                  {# <div class="ribbon ribbon-top ribbon-bookmark bg-green"></div>  #}
                  <div class="plan__item-header">
                    <div class="left">
                      <h4 class="title">Salary account</h4>
                    </div>
                    
                       <input type="button"  class="btn btn-primary"  value="Add " />
                 
                  </div>
                  <div class="plan__item-body">
                    <div class="name">
                      <br/> A Salary Package account is a special savings account offered to salaried customers  <br/>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">Your Accounts</h2>
              </div>
            </div>
          </div>
        </div>
           <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table
                      class="table table-vcenter table-mobile-md card-table"
                    >
                      <thead>
                        <tr>
                          <th> DATE</th>
                          <th> ACCOUNT TYPE</th>
                          <th>SOLDE</th>
                          <th>DETAILS</th>
                        </tr>
                      </thead>
                      <tbody>
                    
                        <tr>
                          <td data-label="Bank">
                            <div>12/2/2022</div>
                          </td>
                          <td data-label="Account No">
                            <div>Salary account</div>
                          </td>
                          <td data-label="Account Name">
                            <div>ererer erere</div>
                          </td>                        
                          <td data-label="Options">
                            <div class="btn-list">
                              <a
                                href=" {{ path('otherBank_send') }}"
                                class="btn btn-primary"
                              >
                                Details
                              </a>
                            </div>
                          </td>
                        </tr>                      
                    </tbody>
                    </table>
                  </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
</div>



{% endblock %}
