
{% extends 'baseClient.html.twig' %}

{% block body %}
    
     <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">Loan Details</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="table-responsive-sm">
                      <table class="table mb-0">
                        <tbody>
                          <tr>
                            <th class="45%" width="45%">Category</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">
                              maladie
                            </td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">account Number</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">9908766</td>
                          </tr>

                         

                          <tr>
                            <th class="45%" width="45%">amount</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">987456123</td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">files</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">doccc</td>
                          </tr>

                          
                          <tr>
                            <th width="45%">Status</th>
                            <td width="10%">:</td>
                            <td width="45%">
                              <span class="badge bg-warning">pending</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
{% endblock %}
